ElasticHotels.Data/obj
ElasticHotels.Data/bin
ElasticHotels.API/obj
ElasticHotels.API/bin
.vs
ElasticParties.Console/bin
ElasticParties.Console/obj
ElasticParties.Services/bin
ElasticParties.Services/obj
ElasticParties.Lucene.Data/bin
ElasticParties.Lucene.Data/obj
